
.image{
  background-image:
  url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  background-size: cover;
  height: 150px;
}
h1.caption {
Color: Khaki;
font-family: Helvetica;
font-size: 100px;
font-weight:bold;
}
h2.brush {
  font-family: Helvetica;
  font-size: 30px;
  font-weight:bold;
  color: White;
  background-color: Mediumspringgreen ;
}
h2.paint {
  font-family: Helvetica;
  font-size: 30px;
  font-weight:bold;
  color: white;
  background-color: SkyBlue;
}
